.line-navbar-two .lnt-nav-mega li .dropdown-menu {
    width: 840px;
    padding: 0;
    top: 62px;
}

.line-navbar-two .lnt-nav-mega li .dropdown-menu:after {
    border-bottom: 8px solid #f6f6f6;
}

.line-navbar-two .lnt-dropdown-mega-menu {
    padding: 0;
    background-color: #fff;
}

.line-navbar-two .lnt-dropdown-mega-menu .label {
    font-weight: normal;
    font-size: 10px;
    padding: 4px 7px;
}

.line-navbar-two .lnt-dropdown-mega-menu > .lnt-category {
    width: 250px;
    border-right: 1px solid #eeeeee;
    float: left;
}

@media (min-width: 768px) and (max-width: 992px) {
    .line-navbar-two .lnt-dropdown-mega-menu > .lnt-category {
        width: 190px;
    }
}

.line-navbar-two .lnt-dropdown-mega-menu > .lnt-category > li {
    position: relative;
}

.line-navbar-two .lnt-dropdown-mega-menu > .lnt-category > li > a {
    color: #333333;
    padding: 10px 20px;
    border-bottom: 1px solid #eeeeee;
    display: block;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.line-navbar-two .lnt-dropdown-mega-menu > .lnt-category > li > a:hover,
.line-navbar-two .lnt-dropdown-mega-menu > .lnt-category > li > a:focus {
    text-decoration: none;
}

.line-navbar-two .lnt-dropdown-mega-menu > .lnt-category > li.active:before {
    position: absolute;
    content: '';
    top: 50%;
    margin-top: -9px;
    right: 0;
    display: inline-block;
    border-right: 9px solid #E3E3E3;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
}

.line-navbar-two .lnt-dropdown-mega-menu > .lnt-category > li.active:after {
    position: absolute;
    content: '';
    top: 50%;
    margin-top: -9px;
    right: -1px;
    display: inline-block;
    border-right: 9px solid #FFF;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
}

.line-navbar-two .lnt-dropdown-mega-menu .lnt-subcategroy-carousel-wrap {
    margin-left: 250px;
    position: relative;
    background-color: #ffffff;
}

@media (min-width: 768px) and (max-width: 992px) {
    .line-navbar-two .lnt-dropdown-mega-menu .lnt-subcategroy-carousel-wrap {
        margin-left: 190px;
    }
}

.line-navbar-two .lnt-dropdown-mega-menu .lnt-subcategroy-carousel-wrap > div {
    display: none;
}

.line-navbar-two .lnt-dropdown-mega-menu .lnt-subcategroy-carousel-wrap > div.active {
    display: block;
}

.line-navbar-two .lnt-dropdown-mega-menu .lnt-subcategroy-carousel-wrap.container-fluid {
    padding: 0;
}

.line-navbar-two .lnt-dropdown-mega-menu .lnt-subcategroy-carousel-wrap [class*=col-] {
    padding: 0;
}

.line-navbar-two .lnt-dropdown-mega-menu .lnt-subcategroy-carousel-wrap .lnt-subcategory {
    padding-bottom: 20px;
}

.line-navbar-two .lnt-dropdown-mega-menu .lnt-subcategroy-carousel-wrap .lnt-subcategory li.lnt-category-name {
    font-size: 14px;
    padding: 20px 0 5px 20px;
}

.line-navbar-two .lnt-dropdown-mega-menu .lnt-subcategroy-carousel-wrap .lnt-subcategory ul li {
    padding: 0 20px;
}

.line-navbar-two .lnt-dropdown-mega-menu .lnt-subcategroy-carousel-wrap .lnt-subcategory ul li a {
    color: #333333;
    line-height: 14px;
    padding: 0;
}

.line-navbar-two .lnt-dropdown-mega-menu .lnt-subcategroy-carousel-wrap .lnt-subcategory ul li a:hover {
    color: #00A2E9;
}

.line-navbar-two .lnt-dropdown-mega-menu .lnt-subcategroy-carousel-wrap .carousel-indicators li {
    width: 15px;
    height: 15px;
    margin: 0 5px;
}

.line-navbar-two .lnt-search-form {
    position: relative;
    display: block;
    padding: 0;
    margin: 0 20px;
}

.line-navbar-two .lnt-search-form .input-group-btn > .btn {
    position: relative;
    border-radius: 0;
    border: 2px solid #333333;
    border-right-width: 0;
    padding: 13px 15px;
}

.line-navbar-two .lnt-search-form .form-control {
    border: 2px solid #333333;
    border-radius: 0;
    height: 50px;
    width: 215px;
}

@media (min-width: 992px) {
    .line-navbar-two .lnt-search-form .form-control {
        width: 400px;
    }
}

@media (min-width: 1200px) {
    .line-navbar-two .lnt-search-form .form-control {
        width: 600px;
    }
}

.line-navbar-two .lnt-search-form .form-control:focus {
    -webkit-box-shadow: 0 0 0, 0 0 0;
    box-shadow: 0 0 0, 0 0 0;
}

.line-navbar-two .lnt-search-form .btn-search {
    position: absolute;
    top: 7px;
    right: 10px;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0);
    font-size: 16px;
}

.line-navbar-two .lnt-search-form .lnt-search-category .dropdown-menu {
    margin-top: 16px;
    padding: 0;
}

.line-navbar-two .lnt-search-form .lnt-search-category .dropdown-menu li a {
    padding: 10px 20px;
    border-bottom: 1px solid #eeeeee;
}

.line-navbar-two .lnt-search-form .lnt-search-suggestion strong {
    color: #00A2E9;
}

.line-navbar-two .lnt-search-form .lnt-search-suggestion .dropdown-menu {
    width: 100%;
    margin-top: 16px;
    padding: 0;
}

.line-navbar-two .lnt-search-form .lnt-search-suggestion .dropdown-menu > li > a {
    padding: 10px 20px;
    border-bottom: 1px solid #eeeeee;
}

.line-navbar-two .lnt-search-form .lnt-search-suggestion .dropdown-menu:before {
    top: -9px;
    right: 17px;
    left: auto;
}

.line-navbar-two .lnt-search-form .lnt-search-suggestion .dropdown-menu:after {
    top: -8px;
    right: 18px;
    left: auto;
}

.line-navbar-two .lnt-search-form .lnt-search-suggestion .lnt-search-bottom-links {
    background-color: #F7F7F7;
    padding: 15px 20px;
    text-align: center;
}

.line-navbar-two .lnt-search-form .lnt-search-suggestion .lnt-search-bottom-links li {
    padding: 0 10px;
}

.line-navbar-two .lnt-search-form .lnt-search-suggestion .lnt-search-bottom-links li a {
    color: #333333;
    font-weight: bold;
    font-size: 12px;
}

.line-navbar-two .lnt-shopping-cart .dropdown-menu {
    min-width: 300px;
    padding: 0;
    margin-top: 16px;
}

.line-navbar-two .lnt-shopping-cart .dropdown-menu > li > div {
    white-space: nowrap;
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.line-navbar-two .lnt-shopping-cart .btn-group .btn {
    border: 2px solid #333333;
    padding: 13px 19px;
    border-radius: 0;
    font-weight: bold;
}

.line-navbar-two .lnt-shopping-cart .btn-group .lnt-cart {
    font-size: 16px;
    padding: 0;
    vertical-align: inherit;
    width: 55px;
    height: 50px;
    margin-right: -1px;
}

.line-navbar-two .lnt-shopping-cart .btn-group .lnt-cart .item-added {
    position: absolute;
    opacity: .03;
    font-size: 45px;
    left: 7px;
    top: 2px;
    transform: rotate(-35deg);
    -webkit-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}

.line-navbar-two .lnt-shopping-cart .lnt-cart-products {
    border-bottom: 1px solid #eeeeee;
    padding: 15px 20px;
    position: relative;
}

.line-navbar-two .lnt-shopping-cart .lnt-cart-products .lnt-cart-total {
    position: absolute;
    top: 15px;
    right: 15px;
}

.line-navbar-two .lnt-shopping-cart .lnt-cart-products img {
    position: absolute;
    top: 14px;
    left: 20px;
    width: 60px;
    height: 60px;
    border: 2px solid #FFF;
    -webkit-box-shadow: 0 0 0 2px #333333;
    box-shadow: 0 0 0 2px #333333;
}

.line-navbar-two .lnt-shopping-cart .lnt-cart-products .lnt-product-info {
    padding-left: 75px;
}

.line-navbar-two .lnt-shopping-cart .lnt-cart-products .lnt-product-info .lnt-product-name {
    font-weight: bold;
}

.line-navbar-two .lnt-shopping-cart .lnt-cart-products .lnt-product-info .lnt-product-price {
    display: block;
    margin-left: 75px;
    margin-top: 2px;
    margin-bottom: -2px;
    color: #ADADAD;
}

.line-navbar-two .lnt-shopping-cart .lnt-cart-products .lnt-product-info .lnt-product-remove {
    margin-left: 67px;
    text-transform: uppercase;
    font-size: 10px;
    color: #00A2E9;
}

.line-navbar-two .lnt-shopping-cart .lnt-cart-actions a {
    display: inline-block;
    width: 50%;
    text-align: center;
    padding: 10px;
    color: #FFF;
    background-color: #507BDF;
    margin: 0 -1px;
}

.line-navbar-two .lnt-shopping-cart .lnt-cart-actions a.lnt-view-cart-btn {
    background-color: #00A2E9;
}